<div class="container">
  <h1>Værktøj</h1>

  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="vtId">vtId</label>
      <input type="text" class="form-control" id="vtId" [(ngModel)]="model.vtId" name="vtId">
    </div>

    <div class="form-group">
      <label for="vtAnskaffet">vtAnskaffet</label>
      <input type="date" class="form-control" [(ngModel)]="model.vtAnskaffet" name="vtAnskaffet" required>
    </div>


    <div class="form-group">
      <label for="vtFabrikat">vtFabrikat</label>
      <input type="number" class="form-control" [(ngModel)]="model.vtFabrikat" name="vtFabrikat">
    </div>


    <div class="form-group">
      <label for="vtModel">vtModel</label>
      <input type="text" class="form-control" [(ngModel)]="model.vtModel" name="vtModel">
    </div>


    <div class="form-group">
      <label for="vtSerienummer">vtSerienummer</label>
      <input type="text" class="form-control" [(ngModel)]="model.vtSerienummer" name="vtSerienummer">
    </div>


    <div class="form-group">
      <label for="vtType">vtType</label>
      <input type="text" class="form-control" [(ngModel)]="model.vtType" name="vtType">
    </div>


    <div class="form-group">
      <label for="LiggerIvtk">LiggerIvtk</label>
      <input type="text" class="form-control" [(ngModel)]="model.liggerIvtk" name="LiggerIvtk">
    </div>

    <!-- <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
        </div>

        <div class="form-group">
            <label for="power">Hero Power</label>
            <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
                <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>
        </div> -->

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>