<h1>
  <i class="fas fa-hammer"></i>
  Værktøj
</h1>
<table>
  <tr class=" header">
    <th>
      ID:
    </th>
    <th>
      Anskaffet:
    </th>
    <th>
      Fabrikat:
    </th>
    <th>
      Model:
    </th>
    <th>
      Serienummer:
    </th>
    <th>
      Type:
    </th>
    <th>
      Ligger i Værktøjkasse(ID):
    </th>
    <th>
    </th>
  </tr>
  <tr *ngFor="let tool of tools">
    <td>
      <a [routerLink]=" ['tool',tool.vtId]">{{tool.vtId}}</a>
    </td>
    <td>
      {{tool.vtAnskaffet}}
    </td>
    <td>
      {{tool.vtFabrikat}}
    </td>
    <td>
      {{tool.vtModel}}
    </td>
    <td>
      {{tool.vtSerienummer}}
    </td>
    <td>
      {{tool.vtType}}
    </td>
    <td>
      {{tool.liggerIvtk}}
    </td>
    <td>
      <button class="btn btn-danger" (click)="deleteTool(tool)">Delete</button>
    </td>
  </tr>
</table>

<h1>
  <i class="fas fa-tools"></i>
  Værktøjskasser
</h1>
<table>
  <tr class="header">
    <th>
      ID:
    </th>
    <th>
      Anskaffet:
    </th>
    <th>
      Fabrikat:
    </th>
    <th>
      Model:
    </th>
    <th>
      Serienummer:
    </th>
    <th>
      Farve:
    </th>
    <th>
      Ejes af Håndværker(ID):
    </th>
    <th>
    </th>
  </tr>
  <tr *ngFor="let tbx of toolboxes">
    <td>
      <a [routerLink]="['toolbox',tbx.vtkId]"> {{ tbx.vtkId }} </a>
    </td>
    <td>
      {{tbx.vtkAnskaffet}}
    </td>
    <td>
      {{tbx.vtkFabrikat}}
    </td>
    <td>
      {{tbx.vtkModel}}
    </td>
    <td>
      {{tbx.vtkSerienummer}}
    </td>
    <td>
      {{tbx.vtkFarve}}
    </td>
    <td>
      {{tbx.vtkEjesAf}}
    </td>
    <td>
      <button class="btn btn-danger" (click)="deleteToolBox(tbx)">Delete</button>
    </td>
  </tr>
</table>

<h1>
  <i class="fas fa-hard-hat"></i>
  Håndværker
</h1>
<table>
  <tr class="header">
    <th>
      ID:
    </th>
    <th>
      Ansættelsesdato:
    </th>
    <th>
      hvEfternavn:
    </th>
    <th>
      Fagområde:
    </th>
    <th>
      Fornavn:
    </th>
    <th>
      Værktøjskasse:
    </th>
    <th>
    </th>
  </tr>
  <tr *ngFor="let man of craftsmen">
    <td>
      <a [routerLink]=" ['craftsman', man.haandvaerkerId]">{{man.haandvaerkerId}} </a>
    </td>
    <td>
      {{man.hvAnsaettelsedato}}
    </td>
    <td>
      {{man.hvEfternavn}}
    </td>
    <td>
      {{man.hvFagomraade}}
    </td>
    <td>
      {{man.hvFornavn}}
    </td>
    <td>
      {{man.vaerktoejskasse}}
    </td>
    <td>
      <button class="btn btn-danger" (click)="deleteCraftman(man)">Delete</button>
    </td>
  </tr>
</table>