<div class="container">
    <h1>Håndværker</h1>

    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="HaandvaerkerId">HaandvaerkerId</label>
            <input type="number" class="form-control" id="HaandvaerkerId" [(ngModel)]="model.haandvaerkerId"
                name="VTKId">
        </div>

        <div class="form-group">
            <label for="hvAnsaettelsedato">hvAnsaettelsedato</label>
            <input type="date" class="form-control" [(ngModel)]="model.hvAnsaettelsedato" name="hvAnsaettelsedato"
                required>
        </div>


        <div class="form-group">
            <label for="hvEfternavn">hvEfternavn</label>
            <input type="text" class="form-control" [(ngModel)]="model.hvEfternavn" name="hvEfternavn">
        </div>

        <div class="form-group">
            <label for="hvFagomraade">hvFagomraade</label>
            <input type="text" class="form-control" [(ngModel)]="model.hvFagomraade" name="hvFagomraade">
        </div>


        <div class="form-group">
            <label for="hvFornavn">hvFornavn</label>
            <input type="text" class="form-control" [(ngModel)]="model.hvFornavn" name="hvFornavn">
        </div>

        <div class="form-group">
            <select id="Vaerktoejskasse" (ngModel)="model.vaerktoejskasse" multiple>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>